In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
data = {
    'Колбаса': np.random.normal(84, 4, 12),
    'Сыр': np.random.normal(75, 5, 12),
    'Сосиски': np.random.normal(93, 3, 12),
    'Хлеб': np.random.normal(55, 5, 12),
    'Батон': np.random.normal(92, 32, 12),
    'Сардельки': np.random.normal(121, 41, 12),
    'Молоко': np.random.normal(48, 8, 12),
    'Чай': np.random.normal(71, 11, 12),
    'Кофе': np.random.normal(13, 3, 12),
    'Вода': np.random.normal(76, 16, 12),
}

In [5]:
df = pd.DataFrame(data)
df

,Колбаса,Сыр,Сосиски,Хлеб,Батон,Сардельки,Молоко,Чай,Кофе,Вода
0,86.564174,72.379420,90.515373,47.330517,90.319874,77.092188,39.953903,86.677998,8.997347,63.837855
1,81.931902,80.325719,89.416780,57.426322,137.440658,126.463980,41.095336,72.856895,14.076165,71.708774
2,84.371358,74.073121,92.171060,60.461710,56.121207,132.162939,39.700905,86.129932,18.994780,72.712503
3,79.191556,74.665785,91.281785,52.144294,147.116254,161.024296,52.750718,74.270538,16.633938,86.797362
4,79.452553,75.575430,91.337429,60.506436,137.769766,97.108511,62.848061,79.066062,14.203975,87.710814
5,78.458326,70.629177,94.794159,50.939679,89.869767,123.452827,47.279392,69.439507,7.781118,86.246083
6,82.487969,74.469327,89.696121,62.424142,99.143920,53.276407,50.495048,77.781150,11.626117,60.062577
7,84.887755,72.026981,94.243338,57.426335,59.921317,55.805226,53.197273,62.458862,11.909147,67.830829
8,79.372860,76.154931,91.338230,58.436795,84.777314,109.508859,40.954233,82.557260,9.645950,91.296370
9,81.519785,69.684593,96.552099,58.669423,87.323913,197.082292,59.358621,88.396080,15.144974,82.357688
10,86.064739,78.821584,91.552682,58.828253,80.588636,135.681423,59.795779,87.008409,8.482630,71.037095
11,86.879334,77.775457,90.362755,59.853444,109.794509,165.450509,48.605539,60.132654,13.050633,84.768968

In [6]:
p0 = df.sum() / df.shape[0]
p0

Колбаса       82.598526
Сыр           74.715127
Сосиски       91.938484
Хлеб          57.037279
Батон         98.348928
Сардельки    119.509121
Молоко        49.669567
Чай           77.231279
Кофе          12.545564
Вода          77.197243
dtype: float64

In [8]:
std = ((df - p0) ** 2).sum() / (df.shape[0] - 1)
std = std ** (1 / 2)
std

Колбаса       3.091350
Сыр           3.242873
Сосиски       2.174308
Хлеб          4.514491
Батон        29.556483
Сардельки    43.883369
Молоко        8.217488
Чай           9.629059
Кофе          3.462365
Вода         10.511072
dtype: float64

In [9]:
extrapol = p0 + np.random.normal(0, std, len(p0))
pd.concat([df, pd.DataFrame([extrapol], columns=extrapol.index)]).reset_index(drop=True)

,Колбаса,Сыр,Сосиски,Хлеб,Батон,Сардельки,Молоко,Чай,Кофе,Вода
0,86.564174,72.379420,90.515373,47.330517,90.319874,77.092188,39.953903,86.677998,8.997347,63.837855
1,81.931902,80.325719,89.416780,57.426322,137.440658,126.463980,41.095336,72.856895,14.076165,71.708774
2,84.371358,74.073121,92.171060,60.461710,56.121207,132.162939,39.700905,86.129932,18.994780,72.712503
3,79.191556,74.665785,91.281785,52.144294,147.116254,161.024296,52.750718,74.270538,16.633938,86.797362
4,79.452553,75.575430,91.337429,60.506436,137.769766,97.108511,62.848061,79.066062,14.203975,87.710814
5,78.458326,70.629177,94.794159,50.939679,89.869767,123.452827,47.279392,69.439507,7.781118,86.246083
6,82.487969,74.469327,89.696121,62.424142,99.143920,53.276407,50.495048,77.781150,11.626117,60.062577
7,84.887755,72.026981,94.243338,57.426335,59.921317,55.805226,53.197273,62.458862,11.909147,67.830829
8,79.372860,76.154931,91.338230,58.436795,84.777314,109.508859,40.954233,82.557260,9.645950,91.296370
9,81.519785,69.684593,96.552099,58.669423,87.323913,197.082292,59.358621,88.396080,15.144974,82.357688
10,86.064739,78.821584,91.552682,58.828253,80.588636,135.681423,59.795779,87.008409,8.482630,71.037095
11,86.879334,77.775457,90.362755,59.853444,109.794509,165.450509,48.605539,60.132654,13.050633,84.768968
12,86.839148,81.908115,90.439513,51.468597,66.494948,162.364965,61.110418,73.200271,13.501122,76.446708

In [10]:
reliability = std / p0
reliability

Колбаса      0.037426
Сыр          0.043403
Сосиски      0.023650
Хлеб         0.079150
Батон        0.300527
Сардельки    0.367197
Молоко       0.165443
Чай          0.124678
Кофе         0.275983
Вода         0.136159
dtype: float64

In [11]:
cond1 = ((df - p0) < 2 * std).all()
cond1

Колбаса       True
Сыр           True
Сосиски      False
Хлеб          True
Батон         True
Сардельки     True
Молоко        True
Чай           True
Кофе          True
Вода          True
dtype: bool

In [12]:
cond2 = p0 > 2 * std
cond2

Колбаса      True
Сыр          True
Сосиски      True
Хлеб         True
Батон        True
Сардельки    True
Молоко       True
Чай          True
Кофе         True
Вода         True
dtype: bool

In [13]:
cond3 = (df > 0).all()
cond3

Колбаса      True
Сыр          True
Сосиски      True
Хлеб         True
Батон        True
Сардельки    True
Молоко       True
Чай          True
Кофе         True
Вода         True
dtype: bool

In [14]:
product_color = pd.Series(dtype='string')
for name in df.columns:
    if (not cond3[name]):
        product_color[name] = 'Красный'
    elif (not cond1[name] and not cond2[name]):
        product_color[name] = 'Оранжевый'
    elif (not cond1[name] or not cond2[name]):
        product_color[name] = 'Желтый'
    else:
        product_color[name] = 'Зеленый'
product_color

Колбаса      Зеленый
Сыр          Зеленый
Сосиски       Желтый
Хлеб         Зеленый
Батон        Зеленый
Сардельки    Зеленый
Молоко       Зеленый
Чай          Зеленый
Кофе         Зеленый
Вода         Зеленый
dtype: object